body{
    margin: 0 auto;
    width: 1024px;
}

.img{
    vertical-align: middle;
}

.backgroundbanner{
    height: 215px;
    background-color: #ffcc66;
    background-image: url(../images/banner_home_top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.backgroundbannerbottom{
    background-color: #ffcc66;
    background-image: url(../images/background_yellow_bottom_banner.png);
    background-position: center top;
}

.backgroundbannerbottom2 {
    background-color: #ffcc66;
    background-image: url(../images/background_yellow_bottom_banner_norope.png);
    background-position: center top;
}

.backgroundbannerbottom3 {
    background-color: #ffcc66;
    background-image: url(../images/background_yellow_bottom_banner_onerope.png);
    background-position: center top;
}

.backgroundmenu{
    background-color: #ffffcc;
    width: 215px;
}

.menu {
    text-align: center;
    float: left;
}

.menubottom {
    background-image: url(../images/menu/menu_bottom.png);
    background-repeat: no-repeat;
    background-position: 15px top;
    height: 150px;
}

.contentdiv{
    float: left;
    width: 809px;
}

.backgroundmenu {	
    background-color: #ffffcc;
    width: 215px;
}
.backgroundyellowtransparency {
    background-image: url(../images/background_transparent.png);
}

.menurope {
    background-image: url(../images/menu/menu_rope.png);
    background-position: 23px top;
    height: 20px;
    background-repeat: no-repeat;
}
.menubuttonhome {
    background-image: url(../images/menu/menu_home_button.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 128px;
}
.menubuttonkinhthanh {
    background-image: url(../images/menu/menu_kinh-thanh_button.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 128px;
}
.menubuttonthegioi {
    background-image: url(../images/menu/menu_the-gioi_button.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 128px;
}
.menubuttonquanly {
    background-image: url(../images/menu/menu_bang-quan-ly_button.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 128px;
}
.menubottom {
    background-image: url(../images/menu/menu_bottom.png);
    background-repeat: no-repeat;
    background-position: 15px top;
    height: 150px;
}

/*phần đăng ký, login của trang home*/
.registerrope {
    background-image: url(../images/menu/register_rope.png);
    background-repeat: repeat-y;
    background-position: 0px top;
    height: 14px;
    width: 343px;
}

.buttonregisterlogin {
    background-image: url(../images/button/register-login_button_center.png);
    background-repeat: repeat-x;
}

.registerbottom {
    background-image: url(../images/button/register_bottom.png);
    background-position: left top;
    height: 139px;
    background-repeat: no-repeat;
}

.rightmenu{
    margin-left: 466px;
}

.registerbottom {
    background-image: url(../images/menu/register_bottom.png);
    background-position: left top;
    height: 139px;
    background-repeat: no-repeat;
}

.contentred {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #9b350c;
    text-decoration: none;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
/*content & header*/

.contentred {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #9b350c;
    text-decoration: none;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contentred a:link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #9b350c;
    text-decoration: none;
    text-align: center;
}
.contentred a:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #FF0000;
    text-decoration: none;
    text-align: center;
}
.contentred a:visited{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #9b350c;
    text-decoration: none;
    text-align: center;

}
.contentredtable {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #9b350c;
    text-decoration: none;
    text-align: left;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contentblack {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #333333;
    text-decoration: none;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contentblack1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
}
.imageprofile {
    height: 200px;
    width: 200px;
}


.contentpink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ec008c;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.contentwhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
.contentwhite a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    padding: 5px;
    font-weight: none;
}
.contentwhite a:visit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    padding: 5px;
    font-weight: none;
}
.contentgreen {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #00FF00;
    text-decoration: none;
    text-align: left;
    padding: 5px;
    font-weight: bold;
    font-style: oblique;
}




.headerred{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #a90000;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}
.headerblack {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    text-transform: none;
}

/*form*/
.textfield {
    font-weight: bold;
    background-color: #FFC;
    text-align: center;
    border: medium double #666;
    width: 250px;
}
.textfieldheight50 {
    font-weight: bold;
    background-color: #FFC;
    text-align: center;
    border: medium solid #666;
    width: 250px;
    height: 50px;
    font-size: 14px;
}

.backgroundform {
    background-color: #ffb448;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #97360c;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.backgroundorange {
    background-color: #E59A42;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #97360c;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.backgroundred {
    background-color: #660000;
    padding: 10px;
}

.buttonyellow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    background-color: #FF9900;
    text-align: center;
    height: 25px;
    padding: 10px;
}
.blood {
    background-color: #F00;
    white-space: nowrap;
}
.experience {
    background-color: #06F;
    white-space: nowrap;
}

.tablenumber {
    background-color: #FFF;
    height: 15px;
    width: 200px;
    border: thin solid #000;
}
.tableborderwhite {
    background-color: #E59A42;
    border-top-width: 2px;
    //border-right-width: 2px;
    //border-bottom-width: 2px;
    //border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;

}
.tableborderwhitebottomcenter {
    background-image: url(../images/line_tab_white_bottom.png);
    height: 25px;
    width: 18px;
    background-repeat: no-repeat;
    border: medium none #FFF;
    background-position: -5px;

}

.tableborderwhitebottomleft {
    background-color: #E59A42;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #B4350D;
    height:25px;
}
.tableborderwhitebottomright {
    background-color: #E59A42;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    //border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;
    height:25px;
}
.tableborderwhite1 {
    background-color: #E59A42;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;

}
.tableborderred {
    background-color: #E59A42;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #A20600;
    border-right-color: #A20600;
    border-bottom-color: #A20600;
    border-left-color: #A20600;
    height: 30px;
    font-size: 16px;
    color: #A20600;
    text-align: center;
    font-weight: normal;
}


.tableborderwhitebottomcenter1 {
    background-image: url(../images/line_tab_white_bottom.png);
    height: 25px;
    width: 15px;
    background-repeat: no-repeat;
    border: medium none #FFF;

}

.tableborderwhitebottomleft1 {
    background-color: #E59A42;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #B4350D;
    height: 15px;
}
.tableborderwhitebottomright1 {
    background-color: #E59A42;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;
    font-size: 14px;
    font-weight: bold;
    color: #97360C;
    text-align: right;
    height: 15px;
}
.tableborderblack4px {
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.backgroundorange {
    background-color: #ffcc66;
}

.tablegray {
    background-color: #eeeeee;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #FFF;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    height: 15px;
}

/*copyright*/
.copyrightbottom {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    background-color: #ffcc00;
    text-align: center;
    padding: 20px;
}
.loginname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #930;
    text-align: center;
}
.logout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.ng-tooltip-section {
    font-family: Verdana !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: papayawhip !important;
}

.ng-tooltip {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    padding: 0 12px;
    margin: -12px 0 0 6px;
    border-radius: 5px;
    border: 1px solid #323232;
    background-color: rgba(72, 72, 72, 0.95);
    -webkit-transform: scale(0.925, 0.925);
    transform: scale(0.925, 0.925);
    transition: opacity 125ms ease-out, -webkit-transform 125ms ease-out;
    transition: opacity 125ms ease-out, transform 125ms ease-out;
}

.ng-tooltip, .ng-tooltip * {
    white-space: nowrap; 
}

.ng-tooltip.showing {
    opacity: 0.95;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.dialog-wrap {
    width: 1024px;
    position: fixed;
    top: 25%;
    z-index: 100;
    text-align: center;
}

.dialog-box{ 
    padding: 25px; 
    display: inline-block;
    border: 2px solid black;
    background-color: #9b350c;
    position: relative;
}

.dialog-fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: #FFF;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

.btn-dialog-close{
    -webkit-appearance: none;
    padding: 0px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    position: absolute;
    top: -8px;
    right: 0px;
}

.hunting-box{
    height: 32px;
    width: 32px;
    display: inline-block;
}

.hunting-box-border{
    border-width: thin;
    border-style: solid;
}

.hunting-able{
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center; 
}

.hunting-not-able{
    background: white;
}

.user-position{
    background-image: url('../images/maps/user.gif');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    height: 100%;
}
.navigation-button{
    font-size: 20px;
    margin-top: 10px;
}

.dropdown-menu-text-wraper{
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 30px;
    padding-left: 50px;
    padding-right: 100px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

.slide-item{
    margin-left: -50px;
}
.slide-item img{
    position: relative;
}
.slide-item:hover{
    margin-left: -5px !important;
    margin-right: 2px !important;
}

.slide-item-animation{
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.news-title{
    text-decoration: underline;
}

.news-text{
    font-size: 16pt;
    color: black;
}

.news-text a{
    color: black;    
}
.news-text a:hover{
    text-decoration: none;
}

.news-box {
    border: 4px solid #E59A42;
    padding: 10px 40px 10px 40px; 
    border-radius: 25px;
    max-height: 300px;
    overflow-y: auto;
}
.news-box-parent{
    position: relative;
    border: 4px solid #E59A42;
    padding: 5px 5px 5px 5px; 
    border-radius: 30px;
}

.new-box-title{
    position: absolute; top: -35px;
}

.egg-fly {
    width: 100px;
    height:100px;
    position:fixed;
    z-index: 10;
}

.item-level-text{
    color: black;
    position: absolute;
    right: 18px;
    font-size: 14pt;
}